/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
    background: #F2F2F7;
    color: #1C1C1E;
}

.app {
    max-width: 430px;
    margin: auto;
    min-height: 100vh;
    padding: 24px 20px 100px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

#today {
    color: #8E8E93;
    margin-top: 6px;
}

.card {
    background: white;
    border-radius: 22px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,.08);
}

.card h2{
    font-size:18px;
    margin-bottom:15px;
}

input[type=text]{
    width:100%;
    padding:14px;
    border:none;
    border-radius:14px;
    background:#F2F2F7;
    font-size:16px;
}

button{
    width:100%;
    margin-top:15px;
    padding:14px;
    border:none;
    border-radius:14px;
    background:#007AFF;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.task{
    display:flex;
    gap:10px;
    margin-top:10px;
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:white;
    border-top:1px solid #E5E5EA;
    display:flex;
    justify-content:space-around;
    padding:18px;
}

.tab{
    color:#8E8E93;
}

.tab.active{
    color:#007AFF;
    font-weight:600;
}
